<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="false" throwConfigExceptions="true" internalLogLevel="Info"
      internalLogFile="./data/log/nlog-internal.log" internalLogIncludeTimestamp="true">
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
        <add assembly="NLog.DiagnosticSource" />
    </extensions>
    
    <!-- make sure to set 'Copy To Output Directory' option for this file -->
    <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->
    <!-- make sure to set 'Copy To Output Directory' option for this file -->
    <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->
    <variable name="Delimiter" value="&#xD;&#xA;&#x9;"/>
    <variable name="VerboseLayout"
              value="${date:format=dd-MM HH\:mm\:ss.fff} [${level:uppercase=true:padding=-5}] ${callsite:className=True:fileName=False:includeSourcePath=False:methodName=True}-[${activityid:whenEmpty=${aspnet-TraceIdentifier:whenEmpty=${activity:property=TraceId}}}] - ${message}${newline}${onexception:${exception:maxInnerExceptionLevel=10:innerExceptionSeparator=${Delimiter}:format=Message,ShortType,StackTrace}${newline}}" />
    <variable name="HeaderLayout" value="${longdate} Logging started${newline}" />
    <variable name="FooterLayout" value="${newline}${longdate} Shutdown${newline}" />
    <variable name="LogDirectory" value="./data//log/" />
    <variable name="ArchiveLogDirectory" value="./data/log/archive/" />

    <targets async="true">
        <!-- ColoredConsole -->
        <target xsi:type="ColoredConsole"
                name="console"
                layout="${VerboseLayout}"
                header="${HeaderLayout}"
                footer="${FooterLayout}" />

        <!-- Files -->
        <default-target-parameters xsi:type="File"
                                   layout="${VerboseLayout}"
                                   archiveEvery="Day"
                                   encoding="utf-8"
                                   maxArchiveFiles="0"
                                   archiveNumbering="DateAndSequence"
                                   archiveDateFormat="yyyy-MM-dd"
                                   header="${HeaderLayout}"
                                   keepFileOpen="false"
                                   concurrentWrites="true"
                                   footer="${FooterLayout}"
                                   lineEnding="None"
                                   enableArchiveFileCompression="true" />

        <target name="infoFile" xsi:type="File" fileName="${LogDirectory}info.txt"
                archiveFileName="${ArchiveLogDirectory}info.{#}.zip" />

        <target name="errorFile" xsi:type="File" fileName="${LogDirectory}error.txt"
                archiveFileName="${ArchiveLogDirectory}error.{#}.zip" />

        <target name="debugFile" xsi:type="File" fileName="${LogDirectory}debug.txt"
                archiveFileName="${ArchiveLogDirectory}debug.{#}.zip" />
    </targets>

    <rules>
        <logger name="*" maxlevel="Trace" writeTo="" final="true" />
        <logger name="Microsoft.AspNetCore.Routing.*" minlevel="Info" writeTo="" final="true" />
        <logger name="Microsoft.AspNetCore.Mvc.MvcCoreLoggerExtensions" minlevel="Info" writeTo="" final="true" />
        <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="console,debugFile" final="true" />
        <logger name="Microsoft.Extensions.Http" minlevel="Info" writeTo="" final="true" />
        <logger name="Microsoft.*" maxlevel="Info" writeTo="" final="true" />
        <logger name="*" minlevel="Debug" writeTo="debugFile" />
        <logger name="*" minlevel="Info" writeTo="infoFile" />
        <logger name="*" minlevel="Warn" writeTo="errorFile" />
    </rules>
</nlog>